{% block header %}
<header class="navbar navbar-expand flex-column flex-md-row bg-dark">
    <div class="container">

            <a class="navbar-brand" href="/">
                <h1 class="text-white">NewsMailing</h1>
            </a>
            <div class="navbar-nav">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>

    </div>
</header>
{% endblock %}